<div class="{{ props.alignment }} text-[{{ props.text_color }}] {{ props.font_weight }}">
    <{{ props.tag }} class="w-full {{ props.heading_size }}">{{ props.title }}</{{ props.tag }}>
    <p class="w-full {{ props.kicker_size }}">{{ props.kicker }}</p>
</div>